* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: cursive;
  min-height: 100vh;
}

h1 {
  text-align: center;
  margin: 15px 0;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.color-item {
  margin: 5px;
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f00;
  font-size: 25px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border: 2px solid black;
  border-radius: 10px;
}

.color-item a {
  color: white;
  text-decoration: none;
}